<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyProgress"
        android:allowBackup="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AppAuth: captures the OAuth redirect URI in a Custom Tab. -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace"
            xmlns:tools="http://schemas.android.com/tools">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Replace with reversed Android client ID once sync is enabled. -->
                <data android:scheme="com.googleusercontent.apps.PLACEHOLDER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
